.input {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  padding: 0 var(--s-space);
  border: var(--border);
  border-radius: var(--radius-m);
  height: var(--btn-input-height);

  transition: border-color var(--transition-m);

  &:hover,
  &:focus-visible {
    border-color: var(--clr-accent-dark);
  }

  &:focus {
    outline: none;
  }
}
