.row {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--xs-space);

  &:hover {
    .labelTag {
      opacity: 1;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  gap: var(--s-space);
}

.labelTag {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 28px;
  border-radius: var(--radius-m);
  background-color: var(--clr-white);
  opacity: 0;

  &:hover {
    .labelTagCaption {
      display: flex;
    }
  }
}

.labelTagCaption {
  z-index: 10;
  display: none;
  pointer-events: none;
  position: absolute;
  font-size: 11px;
  color: var(--clr-white);
  background-color: var(--clr-main);
  white-space: nowrap;
  padding: 4px 6px;
  bottom: -25px;
  left: 0;
  border-radius: var(--radius-m);
}

.copied {
  animation: copied 0.5s ease-in;
}

@keyframes copied {
  0% {
    background-color: rgb(244, 223, 102);
  }
  100% {
    background-color: rgba(255, 247, 0, 0);
  }
}

.copiedChecked {
  animation: copiedChecked 0.5s ease-in;
}

@keyframes copiedChecked {
  0% {
    background-color: rgb(244, 223, 102);
  }
  100% {
    background-color: var(--clr-accent-main);
  }
}
