.row {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--s-space);

  &:hover {
    .labelTag {
      display: flex;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  gap: var(--s-space);
}

.labelTag {
  display: none;
}
